PORT=8080
DOMAIN=time.example.com
IMAGE=ghcr.io/user/repo:latest

NTP_HOST=pool.ntp.org,time.google.com,time.cloudflare.com
NTP_PORT=123
NTP_TIMEOUT_MS=5000
NTP_SYNC_INTERVAL_MS=3600000
NTP_STARTUP_ATTEMPTS=3
