# Скопируй в .env и раскомментируй нужное: cp .env.example .env

#PORT=8080
#NTP_HOST=ru.pool.ntp.org,0.ru.pool.ntp.org,1.ru.pool.ntp.org,time.google.com
#NTP_PORT=123
#NTP_TIMEOUT_MS=5000
#NTP_SYNC_INTERVAL_MS=3600000
#NTP_STARTUP_ATTEMPTS=3
